.dialogItem {
  max-width: 200px;
  min-width: 150px;
  padding: 5px 5px 5px 10px;
  background-color: #131416;
  color: #e3e5ec;
  text-decoration: none;
  border-radius: 10px;
  margin: 5px; 
}
.dialogItem .active {
  color: gold;
}

.dialogItemText {
  display: flex;
  color: #e3e5ec;
  text-decoration: none;
}

.img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.fullName {
  margin: auto 5px;
}